$home-max-width: 37.5em;
$heading-font-size: $h1-font-size;
$subheading-font-size: $h3-font-size;

.wrapper {
  padding: $pad-double;
}

.home {
  padding: $pad-double;

  .home-text {
    max-width: $home-max-width;
    margin: auto;
  }
}

.header-group {
  text-align: center;
  margin-bottom: $pad-double;

  .page-heading {
    font-size: $heading-font-size;
    font-weight: normal;
    color: $h1-font-color;
    margin-bottom: 0;
  }

  .page-sub-heading {
    font-size: $subheading-font-size;
    font-weight: normal;
  }
}

.home-image-wrapper {
  margin: $pad;

  .this-also-is-me {
    @include retina-image('../../assets/img/this_also_is_me', em(200));
    @include size(em(200));
    display: block;
    border-radius: 50%;
    margin: auto;
  }
}

