@import "home";
@import "article_system";
@import "dl_menu";
@import "pages";
@import "posts";
@import "footer";

.green-bg {
  background-color: $base-background-color;
}

.white-bg {
  background-color: $white;
}

.tree-bg {
  background-image: url('/assets/img/bg.png');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}